body, input, textarea, select 
{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 11pt;
    line-height: 1.5em;
    color:black;
    font-weight: 300; 
}
    img{
        width: 500px;
    }
    .profile-pic{
        width: 500px;
    }
    .red-border{
        border-style: dashed;
        border-color: cadetblue;
    }
    p{
        font-family: 'Source Sans Pro', Arial, sans-serif;
        font-size: 13pt;
        line-height: 1.5em;
        color:black;
        font-weight: 300;
        text-align: left; 
    }
    h1{
        font-family:'Source Sans Pro', Arial, sans-serif ;
        font-size: 15pt;
        line-height: 1.5em;
        color:black;
        font-weight: 300;
        text-align: left; 
        font-style: italic ;
    }
    
